<!DOCTYPE html>
<html ng-app="springHelloWorld" lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>futurepixel</title>

  <!-- meta standard -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="futurepixel">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/third-party/skeleton/normalize.css">
  <link rel="stylesheet" href="/css/third-party/skeleton/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/js/third-party/jquery/jquery-2.1.4.min.js"></script>
  <script src="/js/third-party/angular/angular.min.js"></script>
  <script src="/js/third-party/underscore/underscore-min.js"></script>

  <script src="/js/angular_app.js"></script>
  <script src="/js/common/data_services.js"></script>
  <script src="/js/common/data_const.js"></script>
  <script src="/js/common/common.js"></script>
  <script src="/js/service/example_service.js"></script>
  <script src="/js/factory/ajax_request_factory.js"></script>
  <script src="/js/factory/ajax_response_factory.js"></script>

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container" ng-controller="SampleController">
  <div class="row">
    <div class="one-half column" style="margin-top: 25%">
      <h2><code>spring-data-rest-webmvc-helloworld</code></h2>

      <input type="text" ng-model="name" placeholder="Enter name"/>
      <button ng-click="createExampleData(name)">Create Data</button>

      <div ng-show="examples">
        <input type="text" ng-model="searchName" placeholder="Enter name" />
        <button ng-disabled="!searchName || searchName.length === 0" ng-click="findByName(searchName)">Find By Name</button>
        <br>
        <button ng-click="clearCollection()">Clear Collection</button>
        <button ng-if="displayShowAll" ng-click="showAll()">Show All</button>
      </div>

      <table-of-data ng-if="examples" data="examples"></table-of-data>
    </div>
  </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

